@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,800&display=swap");
* {
  font-family: "Work Sans", sans-serif;
}

:root {
  --blue: #2947a9;
  --orange: #f9995d;
  --grey-light: #858ead;
  --grey-bg: #f6f8f7;
  --grey-text: #525b7a;
}

.bg-blue {
  background-color: var(--blue);
}

input {
  --bs-focus-ring-color: rgba(var(--bs-success-rgb), 0);
}

.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.nav-logo {
  color: var(--blue) !important;
}

.nav-link:hover {
  color: var(--orange) !important;
}

.flex-2 {
  flex: 2;
}

.flex-1 {
  flex: 1;
}

.small {
  height: 20px;
  width: 20px;
}

.hero {
  background: url(images/hero/hero.png) no-repeat center;
  background-size: cover;
  height: 646px;
}
.hero .hero-text {
  font-size: 60px !important;
  font-weight: 600;
}
.hero .feature-projects {
  max-width: 400px;
}

.reputation h2 {
  color: var(--grey-text);
}
.reputation .card {
  min-height: 225px;
}
.reputation p {
  color: var(--grey-light);
}

.about-us h6 {
  color: var(--blue);
}

@media screen and (min-width: 1025px) {
  .about-img {
    top: 20px;
    left: -60px;
  }
  .about-box {
    width: 30rem !important;
    position: absolute;
    top: 20%;
    left: 60%;
  }
}
.line {
  width: 50px;
}

.services {
  background-color: var(--grey-bg);
}
.services .service-card {
  width: 300px;
  transition: transform 0.2s;
}

.service-card:nth-child(even) {
  background-color: var(--blue);
}
.service-card:nth-child(even) h3 {
  color: white;
}

.service-card:nth-child(odd) {
  background-color: white;
}
.service-card:nth-child(odd) h3 {
  color: var(--blue);
}

@media screen and (min-width: 375px) {
  .service-card {
    width: 360px !important;
  }
}
.service-card:hover {
  transform: scale(1.1);
}

.stats button {
  min-width: 150px;
}
.stats .stat-info {
  flex: 2;
}
.stats .stat-info .stat-box {
  transform: scale(0.8);
}
.stats .stat-info h2 {
  font-size: 80px;
}
.stats .stat-info h3 {
  border-left: 8px solid orange;
  color: var(--grey-text);
}
.stats .stat-info img {
  height: 130px;
  width: 130px;
}
.stats .stat-info .stat-box:nth-child(1) > img {
  top: -20% !important;
  right: -10%;
}
.stats .stat-info .stat-box:nth-child(2) > img {
  top: -20% !important;
  right: -25%;
}
.stats .stat-info .stat-box:nth-child(3) > img {
  top: -20% !important;
  right: -10%;
}
.stats .stat-info .stat-box:nth-child(4) > img {
  top: 50% !important;
  right: -20%;
}
.stats .heading {
  color: var(--blue);
}
.stats .text {
  color: var(--grey-text);
}

@media screen and (min-width: 700px) {
  .stats .stat-box {
    width: 400px !important;
    transform: scale(0.9) !important;
  }
  .stats .stat-box:nth-child(2) > img {
    top: -20% !important;
    left: -20%;
  }
  .stats .stat-box:nth-child(1) {
    left: 120px;
    top: 80px !important;
    z-index: 2;
  }
  .stats .stat-box:nth-child(2) {
    left: -80px;
    top: 40px;
  }
  .stats .stat-box:nth-child(3) {
    left: 120px;
    top: 0;
    z-index: 2;
  }
  .stats .stat-box:nth-child(4) {
    left: -60px;
    top: -60px;
  }
}
.get-consultation {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/consultation/consultaion-background.jpeg);
  background-position: center;
}
.get-consultation button {
  min-height: 50px;
  margin-bottom: 10px;
}

.projects .category:hover {
  border-left: 5px solid var(--blue);
  padding-left: 15px !important;
  color: var(--blue);
  font-weight: 600;
}
.projects .project-img,
.projects .project-txt {
  width: 280px;
}
.projects .project-img {
  height: 250px;
}
.projects .project-txt {
  background-color: var(--blue);
}
.projects .ellipse {
  height: 20px;
  width: 20px;
}

@media screen and (min-width: 428px) {
  .projects .project-img,
  .projects .project-txt {
    width: 400px;
  }
}
.form {
  background-color: var(--grey-bg);
}
.form .contact {
  max-width: 700px;
}
.form span {
  color: red;
}
.form p {
  color: var(--grey-text);
}
.form button {
  background-color: var(--blue);
}

.subscribe {
  background-color: var(--orange) !important;
}/*# sourceMappingURL=styles.css.map */