@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --blue: #2947a9;
  --orange: #f9995d;
  --grey-light: #858ead;
  --grey-bg: #f6f8f7;
  --grey-text: #525b7a;
  --grey-text-dark: #292E3D;
}

.bg-blue {
  background-color: var(--blue);
}

input {
  --bs-focus-ring-color: rgba(#fff, 0) !important;
}

.underline {
  text-decoration: underline;
}

.nav-logo {
  color: var(--blue) !important;
}

.nav-link:hover {
  color: var(--orange) !important;
}

.flex-2 {
  flex: 2;
}

.flex-1 {
  flex: 1;
}

.small {
  height: 20px;
  width: 20px;
}

// hero
.hero {
  background: url(images/hero/hero.png) no-repeat center;
  background-size: cover;
  height: 646px;

  .hero-text {
    font-size: 45px;
    font-weight: 600;
  }

  .feature-projects {
    max-width: 400px;
    min-width: 300px;
  }
}

@media screen and (min-width:375px) {
  .hero-text {
    font-size: 60px !important;
    font-weight: 600;
  }
}

//reputation
.our-reputation {
  h2 {
    color: var(--grey-text-dark);
    text-shadow: 0px 2px 3px black !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .card {
    min-height: 225px;
  }

  p {
    color: var(--grey-light);
  }
}

//about-us
.about-us {
  h6 {
    color: var(--blue);
  }
}

@media screen and (min-width: 1250px) {
  .about-img img {
    width: 70% !important;
  }

  .about-img {
    top: 20px;
    left: -60px !important;
  }

  .about-box {
    width: 35rem !important;
    position: absolute;
    top: 18%;
    left: 60%;
  }
}

//services
.line {
  width: 50px;
}

.services {
  background-color: var(--grey-bg);

  .service-card {
    min-width: 300px;
    transition: transform 0.2s;
  }
}

.service-card:nth-child(even) {
  background-color: var(--blue);

  h3 {
    color: white;
  }
}

.service-card:nth-child(odd) {
  background-color: white;

  h3 {
    color: var(--blue);
  }
}

@media screen and (min-width: 375px) {
  .service-card {
    width: 360px !important;
  }
}

.service-card:hover {
  transform: scale(1.1);
}

//stats
.stats {
  button {
    min-width: 150px;
  }

  .stat-info {
    flex: 2;

    .stat-box {
      transform: scale(0.8);
    }

    h2 {
      font-size: 50px;
    }

    h3 {
      border-left: 8px solid orange;
      color: var(--grey-text);
    }

    img {
      height: 130px;
      width: 130px;
    }

    .stat-box:nth-child(1)>img {
      top: -20% !important;
      right: -10%;
    }

    .stat-box:nth-child(2)>img {
      top: -20% !important;
      right: -25%;
    }

    .stat-box:nth-child(3)>img {
      top: -20% !important;
      right: -10%;
    }

    .stat-box:nth-child(4)>img {
      top: 50% !important;
      right: -20%;
    }
  }

  .heading {
    color: var(--blue);
  }

  .text {
    color: var(--grey-text);
  }
}

@media screen and (min-width: 700px) {
  .stats {
    h2 {
      font-size: 80px !important;
    }

    .stat-box {
      width: 400px !important;
      transform: scale(0.9) !important;
    }

    .stat-box:nth-child(2)>img {
      top: -20% !important;
      left: -20%;
    }

    .stat-box:nth-child(1) {
      left: 120px;
      top: 80px !important;
      z-index: 2;
    }

    .stat-box:nth-child(2) {
      left: -80px;
      top: 40px;
    }

    .stat-box:nth-child(3) {
      left: 120px;
      top: 0;
      z-index: 2;
    }

    .stat-box:nth-child(4) {
      left: -60px;
      top: -60px;
    }
  }
}

//consultation
.get-consultation {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/consultation/consultaion-background.jpeg);
  background-position: center;

  button {
    min-height: 50px;
    margin-bottom: 10px;
  }

  button:hover {
    background-color: white !important;
    color: #292E3D !important;
  }
}

//projects
.projects {
  .category:hover {
    border-left: 5px solid var(--blue);
    padding-left: 15px !important;
    color: var(--blue);
    font-weight: 600;
  }

  .project-img,
  .project-txt {
    width: 280px;
  }

  .project-img {
    height: 250px;
  }

  .project-txt {
    background-color: var(--blue);
  }

  .circle {
    height: 20px;
    width: 20px;
  }
}

@media screen and (min-width: 428px) {
  .projects {

    .project-img,
    .project-txt {
      width: 400px;
    }
  }
}

//form
.form {
  .contact {
    max-width: 700px;
  }

  background-color: var(--grey-bg);

  span {
    color: red;
  }

  p {
    color: var(--grey-text);
  }

  button {
    background-color: var(--blue) !important;
  }
}



//bottom
.bottom {
  h3 {
    min-height: 45px;
  }

  h3:nth-child(1) {
    min-height: 70px;
  }

  h3.heading {
    color: var(--blue);
  }

  .newsletter {
    min-width: 280px;
  }

  button {
    background-color: #2947a9;

  }

  button:hover {
    background-color: #f9995d;
  }
}

@media screen and (min-width:338px) {
  .bottom {
    h3:nth-child(1) {
      min-height: 45px !important;
    }
  }
}

//footer
.footer-txt {
  max-width: 1100px;
}